<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coding Strokes | Learn and enhance your skills to find the perfect job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light mb-3">
    <div class="container-fluid">
        <a href="#" class="navbar-brand mr-3"><img src="CodingStrokes.png" height="40px"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link">Donate Us <i class="fa fa-heart"></i> </a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" class="nav-item nav-link">About Us</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" class="nav-item nav-link">Pricing</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" class="nav-item nav-link">Register</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" class="nav-item nav-link">Login</a> &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>    
</nav>
<div class="container">
    <div class="jumbotron bg-white">
        <div class="row">
            <div class="col-sm-6">
                <img src="watering_plant.png">
            </div>
            <div class="col-sm-6">
                <h4>Learn & Enjoy the community of developers with best in class tutorials written by us.</h4>
                <br><br>
                <p>
                    We are pleased to offer you the best quality tutorials so that you can learn and enhance your skills. <br><br>
                    Developers are the backbone of this digital world. Thus we pledged to make this more stronger by giving proper training to the geeks. It will be so pleasurable for us to help other geeks like us. Please let us know if you face any of the problem at our platform.
                </p>
                <br>
                Register or Login with the Phone No<br>
                <form>
                    <div class="form-row">
                      <div>
                        <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">Phone Number</div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroupUsername">
                        </div>
                      </div>
                      &nbsp;&nbsp;&nbsp;
                      <button class="btn" type="submit" style="background-color: rgb(193, 9, 88); color: white;">Login/Register</button>
                    </div>
                  </form>
                  <p style="font-size: 10px;margin-right:25px;">            
                  By entering your phone number, you expressly consent to be contacted by us to receive SMS messages (including text messages). You represent that you are permitted to receive messages to the phone number you have provided to us. You agree to promptly alert us whenever you stop using this phone number. Standard messaging rates apply. 
                </p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <h6>Join us now & become a part of our community</h6>
                <p>
                    The best thing what we can do is based upon your performance and technical skills we can help you in getting placed in your campus or off-campus interviews or we will be giving you the chance to get placed into the companies with whom we have tied up. 
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h6>Join us now & become a part of our community</h6>
            <p>
                The best thing what we can do is based upon your performance and technical skills we can help you in getting placed in your campus or off-campus interviews or we will be giving you the chance to get placed into the companies with whom we have tied up. 
            </p>
        </div>
    </div>

    

    <br><br><br><br><br>
    <hr>
</div>
<footer>
    <div class="row">
        <div class="col-md-6">
            <p>Copyright &copy; 2020 Coding Strokes</p>
        </div>
        <div class="col-md-6 text-md-right">
            <a href="#" class="text-dark">Terms of Use</a> 
            <span class="text-muted mx-2">|</span> 
            <a href="#" class="text-dark">Privacy Policy</a>
        </div>
    </div>
</footer>
</body>
</html>                            