<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coding Strokes | Learn and enhance your skills to find the perfect job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light mb-3">
    <div class="container-fluid">
        <a href="#" class="navbar-brand mr-3"><img src="CodingStrokes.png" height="40px"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link">Donate Us <i class="fa fa-heart"></i> </a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" class="nav-item nav-link">About Us</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" class="nav-item nav-link">Pricing</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" class="nav-item nav-link">Register</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" class="nav-item nav-link">Login</a> &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>    
</nav>
<div class="container">
    <div class="jumbotron bg-white">
        <div class="row">
            <div class="col-sm-5">
                <img src="404_page_image.png" style="height: 350px;">
            </div>
            <div class="col-sm-7">
                <h4>Oops!! You have landed in the 404 area</h4>
                <br>
                <p>
                    The HTTP error 404 error means that the page you are trying to open could not be found on the server.
                    In other words, this means that there is no web page corresponding to the entered URL.<br><br>
                    The error message may appear as follows:
                    <ul>
                        <li>"Error 404"</li>
                        <li>"404 not found"</li>
                        <li>"The requested URL was not found on the server."</li>
                        <li>"HTTP Error 404"</li>
                        <li>"Error 404: page not found"</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>                            